@media screen and (max-width: 767px){
    figure {
        max-width: 90%; /* Limitar el ancho al 90% del tamaño de la pantalla para dispositivos móviles */
    }

    .circulo-yo {
        max-width: 90%; /* Limitar el ancho al 90% del tamaño de la pantalla para dispositivos móviles */
    }
}
@media screen and (min-width: 768px) and (max-width:1023px){}
@media screen and (min-width: 1024px){}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 25px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

#contenedor {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
    height: 5vh;
}

/* ESTILO DEL MENU */
header {
    border-style: solid;
    border-radius: 15%;
    border-color: darkgoldenrod;
    padding: 10px 0;
    background-color: rgb(19, 45, 85);
    font-family: 'Montserrat Alternates', sans-serif;
    width: 100%;
    height: auto;
}
.menu-cont {
    text-align: center;
}

.menu-item {
    color: darkgoldenrod;
    font-size: 30px;
    text-decoration: none;
    padding: 5px 0px;
    border-radius: 5px;
    display: inline-block;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.menu-item:hover {
    background-color: darkgoldenrod;
    color: rgb(19, 45, 85);
    text-decoration: none;
}

/* Estrellas */ 
.estrellas {
    font-size: 30px; 
}
.material-symbols-outlined {
    display: block;
    width: 50px;
    height: 10px;
    margin: 0 100px; 
    color: darkgoldenrod;
}

figure {
    width: 365px;
    margin: auto;
    text-align: center; 
}
.circulo-yo {
    border-radius: 25%; 
    width: 310px;
    height: 310px;
    object-fit: cover;
    display: block; 
    margin: 0 auto; 
}

h1 {
    text-align: center;
    font-size: 30px;
    color: rgb(19, 45, 85);
} 

.parrafo1 {
    color: rgb(19, 45, 85);
    font-size: 23px;
    border-style: dashed;
    border-color: darkgoldenrod;
    background-color: darkkhaki;
    padding: 5px;
    text-align: center;
}

/* Perfil Profesional */

.caja1 {
    background-color: rgb(19, 45, 85);
    margin: auto;
    border-style: none;
    border-radius: 20%;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-profesional {
    font-size: 30px;
    color: darkgoldenrod;
    text-align: center;
}

.parrafo2 {
    font-size: 23px;
    color: darkkhaki;
}

.lista1 {
    margin-top: 10px;
    font-size: 15px;
    color: darkgoldenrod;
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 20px;
}

.lista1 li {
    margin-top: 5px;
    margin-right: 20px;
}

.item img {

    display: block;
    margin: 0 auto;
}

.item span {
    display: block;
}

#scotia {
    border-radius: 20%;
    width: 106px;
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
}

#spotify {
    border-radius: 50%;
    width: 150px;
    height: auto;
    object-fit: cover;
    margin-bottom: 14px;
}

#TIS {
    border-radius: 20%;
    width: 85px;
    height: auto;
    object-fit: fill;
    margin-bottom: 14px;
}
.Idiomas {
    color: darkkhaki;
    font-size: 23px;
    text-align: center;
    margin-bottom: 5px;
}
.Idioma {
    color: darkgoldenrod;
    font-size: 20px;
    list-style:none;
    padding: 0;
    margin-right: 20px;
}

.LinkedIn {
    color: darkkhaki;
    font-size: 23px;
    text-align: center;
    margin-bottom: 5px;
}

#linkedin {
    border-radius: 20%;
    width: 45px;
    height: auto;
    object-fit: fill;
}

/* Quien Soy */

.caja2 {
    background-color: darkkhaki;
    margin: auto;
    border-style: none;
    border-radius: 20%;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quien-soy {
    font-size: 30px;
    color: rgb(19, 45, 85);
}

.parrafo-inicio {
    font-size: 23px;
    color: rgb(19, 45, 85);
}

#resaltado {
    background-color: darkgoldenrod;
    color: white
}

.moto {
    width: 206px;
    height: auto;
    object-fit: cover;
}

.parrafo-inicio2 {
    font-size: 23px;
    color: rgb(19, 45, 85);
}

.tabla1 {
    width: 50%;
    color: darkgoldenrod;
    margin-bottom: 5px;
}

table,
th,
td {
    border: 1px dashed darkkhaki;
    border-collapse: separate;
}

th,
td {
    background-color: rgb(19, 45, 85);
}

#GOW {
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 25%;
    width: 236px;
    height: auto;
    object-fit: cover;
}

.parrafo3 {
    font-size: 23px;
    color: rgb(19, 45, 85) ;
    text-align: center;
    margin-bottom: 5px;
}
.lista2 {
    font-size: 20px;
    color: rgb(19, 45, 85);
    padding: 0;
    margin-right: 20px;
}
/* videos */ 

.Videos {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    text-align: center; /* Alinea el texto al centro */
}
.video {
    font-size: 30px;
    color: darkgoldenrod;
}
.descripcion-video {
    font-size: 23px;
    margin-top: 20px; /* Espacio entre el título y el párrafo */
}

.definido-video {
    margin-top: 20px; /* Espacio entre cada vídeo y su descripción */
}

.definido-video dt {
    font-size: 23px;
    font-weight: bold;
    color: darkgoldenrod;
}

.definido-video dd {
    margin-left: 0;
    margin-bottom: 10px;
    color: rgb(19, 45, 85);
}

iframe {
    margin-top: 20px; /* Espacio entre cada vídeo */
    max-width: 100%;
}

/* Contactos */ 

.Contacto-f {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    text-align: center; /* Alinea el texto al centro */
}
.contactoT {
    color: rgb(19, 45, 85);
    text-align: center;
    margin-bottom: 10px;    .
}
.contactos {
    font-size: 23px;
    color: darkgoldenrod;

}
#Facebook {
    border-radius: 20%;
    margin-top: 10px ;
    width: 100px;
    height: auto;
    object-fit: fill;
}
#Instagram {
    border-radius: 20%;
    width: 70px;
    height: auto;
    object-fit: fill;
}

footer {
    border-style: solid;
    border-radius: 15%;
    border-color: darkgoldenrod;
    padding: 10px 0;
    background-color: rgb(19, 45, 85);
    font-family: 'Montserrat Alternates', sans-serif;
    width: 100%;
    height: auto;
}

#final {
    display: flex;
    margin-top: 30px;
    color: rgb(19, 45, 85);
    text-align: center;
    justify-content: center;
}