@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
@media screen and (max-width: 768px) {
    header {
        position: unset;
    }

    label {
        top: 6px;
        right: 5px;
    }

    h2 {
        font-size: 14px;
    }

    nav {
        position: unset;
        transform: translateY(0);
        margin-top: 20px;
        text-align: center;
    }

    figure {
        max-width: 90%;
    }

    .circulo-yo {
        max-width: 90%;
    }

    .caja1 {
        padding: 20px;
    }

    .perfil-profesional,
    .parrafo2 {
        font-size: 20px;
    }

    #scotia,
    #spotify,
    #TIS {
        width: 100%;
    }

    table {
        width: 100%;
    }

    th,
    td {
        font-size: 10px;
    }

    #GOW {
        max-width: 100%;
    }

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0 25px 25px 25px;
    font-family: 'Montserrat Alternates', sans-serif;
}

/* ESTILO DEL MENU */
header {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: rgb(19, 45, 85);
}

h2 {
    font-size: 20px;
    color: darkgoldenrod;
    text-align: center;
    padding-top: 10px;
}

label {
    position: absolute;
    top: 6px;
    right: 30px;
    z-index: 1;
    color: darkgoldenrod;
    cursor: pointer;
}

input {
    display: none;
}

input:checked+nav {
    background-color: rgb(19, 45, 85);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    text-align: center;
    transform: translateY(0px);
    transition: all 1000ms ease-in-out;
}

input:not(:checked)+nav {
    transform: translateY(-200%);
    transition: all 1000ms ease-in-out;
    text-align: center;
}

a {
    text-decoration: none;
    color: darkgoldenrod;
    font-size: 20px;
    display: block;
    padding: 10px;
}

a:hover {
    background-color: darkgoldenrod;
    color: rgb(19, 45, 85);
}

/* Estrellas */
.estrellas {
    width: 100%;
    height: 50px;
    padding: 7px;
    background-color: rgb(19, 45, 85);
    border-color: darkgoldenrod;
    border-style: solid;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 10px;
}

.material-symbols-outlined {
    width: 30px;
    height: 30px;
    color: darkkhaki;
    line-height: 100px;
    background-color: rgb(19, 45, 85);
    border-radius: 25%;
    border-style: solid;
    border-color: darkgoldenrod;
}

/* IMAGEN PRINCIPAL */
figure {
    width: 365px;
    margin: auto;
    text-align: center;
}

.circulo-yo {
    border-radius: 25%;
    width: 310px;
    height: 310px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: rgb(19, 45, 85);
}

.parrafo1 {
    color: rgb(19, 45, 85);
    font-size: 23px;
    border-style: dashed;
    border-color: darkgoldenrod;
    background-color: darkkhaki;
    padding: 5px;
    text-align: center;
}

/* Perfil Profesional */

.caja1 {
    padding: 50px;
    background-color: rgb(19, 45, 85);
    margin: auto;
    border-style: none;
    border-radius: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-profesional {
    font-size: 30px;
    color: darkgoldenrod;
    text-align: center;
}

.parrafo2 {
    font-size: 23px;
    color: darkkhaki;
}

.contenedor {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.lista1 {
    margin-top: 10px;
    font-size: 15px;
    color: darkgoldenrod;
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 20px;
}

.lista1 li {
    margin-top: 5px;
    margin-right: 20px;
}

.item img {
    max-width: 100%;
}

.item span {
    display: flex;
}

#scotia {
    border-radius: 20%;
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
}

#spotify {
    border-radius: 50%;
    width: 280px;
    height: auto;
    object-fit: cover;
    margin-bottom: 14px;
}

#TIS {
    border-radius: 20%;
    width: 160px;
    height: auto;
    object-fit: fill;
    margin-bottom: 12px;
}

.Idiomas {
    color: darkkhaki;
    font-size: 23px;
    text-align: center;
    margin-bottom: 5px;
}

.Idioma {
    color: darkgoldenrod;
    font-size: 20px;
    list-style: none;
    padding: 0;
    margin-right: 20px;
}

.LinkedIn {
    color: darkkhaki;
    font-size: 23px;
    text-align: center;
    margin-bottom: 5px;
}

#linkedin {
    border-radius: 20%;
    width: 45px;
    height: auto;
    object-fit: fill;
}

/* Quien Soy */

.caja2 {
    padding: 50px;
    background-color: darkkhaki;
    margin: auto;
    border-style: none;
    border-radius: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quien-soy {
    font-size: 30px;
    color: rgb(19, 45, 85);
}

.parrafo-inicio {
    font-size: 23px;
    color: rgb(19, 45, 85);
}

#resaltado {
    background-color: darkgoldenrod;
    color: white
}

.moto {
    width: 316px;
    height: auto;
    object-fit: cover;
}

.parrafo-inicio2 {
    font-size: 23px;
    color: rgb(19, 45, 85);
}

.tabla1 {
    width: 50%;
    color: darkgoldenrod;
    margin-bottom: 5px;
}

table,
th,
td {
    border: 1px dashed darkkhaki;
    border-collapse: separate;
    padding: 5px;
}

th,
td {
    background-color: rgb(19, 45, 85);
}

#GOW {
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 25%;
    width: 500px;
    height: auto;
    object-fit: cover;
}

.parrafo3 {
    font-size: 23px;
    color: rgb(19, 45, 85);
    text-align: center;
    margin-bottom: 5px;
}

.lista2 {
    font-size: 20px;
    color: rgb(19, 45, 85);
    padding: 0;
    margin-right: 20px;
}

/* videos */

.Videos {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente */
    justify-content: center;
    /* Centra verticalmente */
    text-align: center;
    /* Alinea el texto al centro */
}

.video {
    font-size: 30px;
    color: darkgoldenrod;
}

.descripcion-video {
    font-size: 23px;
    margin-top: 20px;
}

.definido-video {
    margin-top: 20px;
}

.definido-video dt {
    font-size: 23px;
    font-weight: bold;
    color: darkgoldenrod;
}

.definido-video dd {
    margin-left: 0;
    margin-bottom: 10px;
    color: rgb(19, 45, 85);
}

iframe {
    margin-top: 20px;
    max-width: 100%;
}

/* Contactos */

.Contacto-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contactoT {
    color: rgb(19, 45, 85);
    text-align: center;
    margin-bottom: 10px;
}

.contactos {
    font-size: 23px;
    color: darkgoldenrod;

}

.redes-sociales {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

#Facebook {
    border-radius: 20%;
    width: 100px;
    height: auto;
    object-fit: fill;
    margin: 0 10px;
}

#Instagram {
    border-radius: 20%;
    width: 75px;
    height: auto;
    object-fit: fill;
    margin: 0 10px;
}

#github {
    border-radius: 20%;
    width: 75px;
    height: auto;
    object-fit: fill;
    margin: 10 0px;
}

#final {
    display: flex;
    margin-top: 10px;
    color: rgb(19, 45, 85);
    text-align: center;
    justify-content: center;
}