@media screen and (max-width: 767px){
    font-size: 15px;
}
@media screen and (min-width: 768px) and (max-width:1023px){}
@media screen and (min-width: 1024px){}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

body {
    background-image: url('CR7.jpg');
    background-size: 90%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    color: rgb(19, 45, 85);
    font-family: 'Montserrat Alternates', sans-serif;
}

.Bienvenida {
    font-size: 25px; 
    display: block;
    text-align: left;
    margin: 50px auto 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 17 0 17px rgb(19, 45, 85);
    max-width: 80%; 
}

.menuBotones {
    width: 300px;
    text-align: center;
    margin: 20px auto; /* Mover el menú debajo del texto */
}